#logo {
    max-width: 5em;
}

body {
    background-color: rgb(67, 128, 108);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


main {
    /* min-height: calc(11 - 555)vh; */
    /*min-height: 45vh;  */
    flex: 1;
} 